/* reset */
*{
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* variables */
:root{
    --navbar-heigth:60px;
}

/* navgitaion bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
/* nbar : logo and images */

#logo{
    margin: 10px 34px;
}

#logo img{
    cursor: pointer;
    margin: 3px 6px;
    height: 62px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    padding: 3px 20px;
    display: block;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section  */

#home{
    display: flex;
    height: 785px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url("bg1.jpg") no-repeat center center/cover;
    top:0px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.92;
}

#home h1{
    color: white;
    text-align: center;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}


/* services section  */
#services{
    margin: 34px;
    display: flex;

}

#services .box{
    border: 2px solid brown;
    padding: 35px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: #8dd6804a;
}

#services .box img{
    display: block;
    margin: auto;
    height: 150px;
}

/* client section  */

#client-section{
    height: 300px;
    margin: 10px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url("bg.jpg") center center/cover;
    width: 100%;
    height: 35%;
    z-index: -1;
    opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 130px;
}

.client-item{
    padding: 25px 55px;
}

/* contact section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
    background: url("contact.jpg") no-repeat center center/cover;
}

#contact-box{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact-box input,
#contact-box textarea{
    border-radius: 9px;
    font-size: 1.1rem;
    width: 100%;
    padding: 0.5rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.2rem;
}


/* footer section  */

footer{
    background-color: black;
    color: white;
    padding: 7px 20px;
    font-size: 17px;
}

/* utility classes */
.h-primary{
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Roboto', sans-serif;
    font-size: 2.1rem;
    padding: 12px;
}



.btn{
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 7px;
    background-color: rgb(223, 79, 79);
    color: white;
    margin: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.center{
    text-align: center;
}